<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div> {{pageTitle}}</div>
        <div> <button class="btn btn-primary btn-sm" [routerLink]="['/products/edit']">Add new product</button></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{listFilter}}</h4>
                <!-- <p>{{products | json}}</p> -->
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-outline-secondary btn-sm" (click)="toggleImage()">{{showImage ?
                                'Hide' : 'Show'}}
                                Image</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Release date</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                        <th>Add to Cart</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let product of filteredProducts"> -->
                    <tr *ngFor="let product of products">
                        <td>
                            <img *ngIf="showImage" [src]="product.imgUrl" [title]="product.name"
                                [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.id]">{{product.name}}</a>
                        </td>
                        <td>{{product.code | lowercase | convertToSpaces: '-' }}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency: 'EUR'}}</td>
                        <!-- <td>
                            <app-star [rating]="product.starRating"
                                      (ratingClicked)="onRatingClicked($event)">
                            </app-star>
                        </td> -->
                        <td>{{product.starRating | number : '1.1' }} <i class="fa fa-star"></i></td>
                        <td>
                            <button class="btn btn-success btn-sm">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>