<div class="card">
    <div class="car-header">
        <span class="ms-3">
            Register Brand!
        </span>
    </div>
    <div class="card-body">
        <form novalidate (ngSubmit)="onSubmit()" #brandForm="ngForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="brand">Brand Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="brand" type="text" placeholder="Brand Name" required minlength="2"
                        [(ngModel)]="brand.name" name="name" #name="ngModel"
                        [ngClass]="{'is-invalid': (name.touched || name.dirty) && !name.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="name.errors?.['required']">
                            Please enter your brand name
                        </span>
                        <span *ngIf="name.errors?.['minlength']">
                            Brand name must be longer than 2 characters.
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="brand">Short Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="brand" type="text" placeholder="Short Name" required minlength="2"
                        [(ngModel)]="brand.shortName" name="shortName" #shortName="ngModel"
                        [ngClass]="{'is-invalid': (shortName.touched || shortName.dirty) && !shortName.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="shortName.errors?.['required']">
                            Please enter your shortName
                        </span>
                        <span *ngIf="shortName.errors?.['minlength']">
                            Short Name name must be longer than 2 characters.
                        </span>
                    </span>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!brandForm.form.valid">Save</button>
        </form>
    </div>
</div>