<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div> {{pageTitle}}</div>
        <div> <button class="btn btn-primary btn-sm" [routerLink]="['/brands/edit']">Add new Brand</button></div>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table" *ngIf="brands.length">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Brand Name</th>
                        <!-- <th>Logo</th> -->
                        <th>Short Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let product of filteredbrands"> -->
                    <tr *ngFor="let brand of brands">
                        <td>
                            {{brand.id}}
                        </td>
                        <td>{{brand.name}}</td>
                        <!-- <td>{{brand.logo }}</td> -->
                        <td>{{brand.shortName }}</td>
                        <td>
                            <span class="float-end">
                                <button class="btn btn-outline-warning me-2" [routerLink]="['/brands/edit/', brand.id]">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-danger" (click)="delete(brand.id!)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>